.nav {
  position: sticky;
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.lock-up {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

div.lock-up > img {
  height: 100%;
  margin: 0 15px 0 15px;
  filter: invert(1);
}

h5 {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  margin-top: 15%;
  color: #343434
}

.nav-buttons-align {
  margin: auto 15px auto 15px;
  padding: 20px;
}

body {
  background-color: #F9EBA9;
  color: #343434;
}