@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.nav {
  position: sticky;
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h5 {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #FCA311;
  text-transform: uppercase;
  font-size: 20px;
  margin: 15px 5px 10px 0;
}

.nav-buttons-align {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-button:hover, .nav-button:active {
  border-top: 4px solid #FCA311;
  color: #FCA311;
  transition: .5s ease-in-out;
}

.nav-button {
  padding: 15px;
  display: inline-block;
  color: #343434;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 12px;
  border-top: 4px solid #fff;
}

body, .body-component-b {
  background-color: #F1F1F1;
  color: #343434;
  font-family: "Lato", sans-serif;
}

/* https://codepen.io/codycurley/pen/bdqevE */
/* https://www.gradient-animator.com/ */
.body-component-a {
  background: linear-gradient(268deg, #fca311, #ffcf80, #fca311, #ce8000);
  background-size: 800% 800%;
  
  -webkit-animation: background 11s ease infinite;
  -moz-animation: background 11s ease infinite;
  animation: background 11s ease infinite;
}
  
  @-webkit-keyframes background {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @-moz-keyframes background {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @keyframes background { 
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }

a, a:visited, a:active {
  text-decoration: none;
  color: #343434;
}

.hero, .login-register {
  background-color: #fff;
  width: 700px;
  margin: 100px auto;
  padding: 20px;
  color: #FCA311;
  text-align: center;
}

hr {
  height: 0px;
  width: 30%;
  border: 0;
  display: inline-block;
  border-bottom: 1px solid #FCA311;
  margin: 50px 20px 10px 20px;;
}

.title {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.title > h1 {
  display: inline-block;
  padding: 5px;
}

.p-container {
  padding: 20px;
  text-align: center;
  font-size: 12pt;
}

.p-container > p:nth-child(1)  {
  overflow: hidden;
  border-right: .15em solid #000;
  white-space: nowrap;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.p-container > p:nth-child(2)  {
  overflow: hidden;
  border-right: .15em solid #000;
  white-space: nowrap;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.p-container > p:nth-child(3)  {
  overflow: hidden;
  border-right: .15em solid #000;
  white-space: nowrap;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: #000}
}

.hero-buttons > button {
  border: 1px solid #FCA311;
  border-radius: 5px;
  background-color: #fff;
  color: #FCA311;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  margin: 10px;
}

.gallery-container {
  width: 1100px;
  margin: 0 auto;
}

.gallery {
  /* width: 90%;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 20px;
}

.gallery-pic-container {
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
}

.gallery-img {
  width: 100%;
  display: block;
}

.gallery-pic-container:hover {
  margin: 0;
}

video#video, img#photo {
  border: 15px white solid;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.camera, .camera-pic {
  margin: 0 auto;
  display: block;
  width: 640px;
  padding: 20px;
}

#startButton, #saveButton {
  padding: 5px 20px 5px 20px;
  height: 15px;
  width: 45px;
  background-color: #FCA311;
  border: none;
  margin: 5px;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
}

.delete, .submit {
  margin: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  background-color: #FCA311;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.pic-show {
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  width: 640px;
}

input {
  width: 100px;
  display: inline-block;
  border: 1px solid #FCA311;
  padding: 5px;
  margin: 10px;
}

input::-webkit-input-placeholder {
  color: #fca311;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  display: inline-block;
  padding: 5px;
  margin-top: 30px;
}